@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@800&display=swap');

body {
    margin: 0;
    background-color: #ECFDF5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-family: 'Karla', sans-serif;
    font-size:5rem;
    color: #2B283A;
}
.subtitle{
    color: #6B7280;
    font-size: 20px;
    font-family: 'Inter';
    margin-bottom: 50px;
    margin-top: 10px;
}
hr{ 
    border: 1px solid #D5D4D8; 
    background-color: #D5D4D8;
}

button{
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: none;
    padding: 12px 18px;
    color: #fff;
    margin: 10px 0px;
    font-size: 20px;
    font-family: 'Inter';
}
.passwords{
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.password{
    background-color: #273549;
    color: #5DEF92;
    margin: 0px 6px;
    width: 100%;
}
.lengthInput{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.length{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: 3px solid #10B981;
    padding: 6px;
    background-color:#ECFDF5;
    margin: 20px;
    font-size: 20px;
    width: max-content;
    font-family: 'Inter';
    
}
.length:focus{
    outline: none !important;
    border: 3px solid #10B981 !important;
    background-color:#fff;
}

.symbols{
    cursor: pointer;
    color: #6B7280;
    font-size: 20px;
    font-family: 'Inter';
    margin: 20px 0px;

}

.symbols input{ display: none; }
.checkmark{

position: absolute;
margin-left: 10px;  
height: 25px;
width: 25px;
border: 3px solid #10B981 ;
background-color: #ECFDF5;
}
.symbols:hover input ~ .checkmark { background-color: #ECFDF5; }
.symbols input:checked ~ .checkmark { 
    height: 31px;
    width: 31px;
    border: none;
    background-color: #2196F3; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .symbols input:checked ~ .checkmark:after { display: block; }
  
  /* Style the checkmark/indicator */
  .symbols .checkmark:after {
    left: 12px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }